# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Mac
.DS_Store

# VS Code
.vscode/

# Project specific
/bouncing_ball.py
/collisiontest.py
/colour.css
/gravity.py
/reflection.py
/smooth_line.py
*.txt
*.css